{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
      <div class="container notes">
    <div class="row">
      {% for prod in products %}
        <div class="col-4 note-item">
          <div class="prod">
            {% if prod.image %}
            <img src="{{ prod.image.url }}" class="prod-img-top" alt="{{ prod.title }}">
            {% endif %}
            <div class="prod-body">
              <h5 class="prod-title">{{ prod.title }}</h5>
              <p class="prod-text">{{ prod.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}